@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <style type="text/css">
        .navbar {
            background-color: dodgerblue;
        }

            .navbar h1 {
                text-align: center;
                color: white;
            }

        .nav {
            background-color: lightsteelblue;
            opacity: 0.6;
        }

        .nav-link {
            color: red;
            font-weight: bold;
            font-style: italic;
        }

        #info_soc {
            margin-top: 10px;
        }

        .info {
            vertical-align: top;
            display: inline-block;
        }

        #menu_gauche {
            width: 350px;
        }
       
    </style>

    <div class="header">
        <nav class="navbar">
            <h1>CMS</h1>
        </nav>
    </div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">Frequentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Certificat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Modification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Statistique</a>
        </li>
    </ul>
    <div class="info" id="menu_gauche">

    </div>
    <div id="info_soc" class="info">
        <form>
            <div class="row">
                <div class="col">
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected>Nom Société</option>
                        <option value="1">BOA</option>
                        <option value="2">ASECNA</option>
                        <option value="3">JIRAMA</option>
                    </select>
                </div>
                <div class="col">
                    <input class="form-control" id="disabledInput" type="text" placeholder="Type société" disabled>
                </div>
            </div>
        </form>
    </div>
    <div class="info">
        <div class="col-md-4 col-lg-3">
            <div class="panel panel-default p-0 m-t-15">
                <div class="panel-group">
                    <div class="panel panel-purple panel-color">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" href="#agent" class="collapsed" aria-expanded="false">
                                    <i class="fa fa-search"></i> Agent
                                </a>
                            </h6>
                        </div>
                        <div id="agent" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form name="ajax1" class="cmxform form-horizontal tasi-form">
                                    <div class="form-group ">
                                        <div class="col-lg-12">
                                            <input class="form-control" name="agent" type="text" placeholder="Entrer Nom /Nouveau Matricule..." onchange="RechercheAgent(this.value)">
                                        </div>
                                    </div>
                                </form>
                                <div id="affichage1"></div>
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-purple panel-color">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" href="#medecin" aria-expanded="false" class="collapsed">
                                    <i class="fa fa-search"></i> Médecin
                                </a>
                            </h6>
                        </div>
                        <div id="medecin" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form name="ajax2" class="cmxform form-horizontal tasi-form">
                                    <div class="form-group ">
                                        <div class="col-lg-12">
                                            <input class="form-control" name="med" type="text" placeholder="Entrer Nom / Code..." onchange="RechercheMedecin(this.value)">
                                        </div>
                                    </div>
                                </form>
                                <div id="affichage2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-purple panel-color">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" href="#patient" class="collapsed" aria-expanded="false">
                                    <i class="fa fa-search"></i> Patient
                                </a>
                            </h6>
                        </div>
                        <div id="patient" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form name="ajax1" class="cmxform form-horizontal tasi-form">
                                    <div class="form-group ">
                                        <div class="col-lg-12">
                                            <input class="form-control" name="pat" type="text" placeholder="Entrer Nom /Numero..." onchange="RecherchePatient(this.value)">
                                        </div>
                                    </div>
                                </form>
                                <div id="affichagePat"></div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-pink panel-color">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#mod" class="collapsed">
                                    <i class="fa fa-spin fa-cog"></i>  Mise à jour
                                </a>
                            </h4>
                        </div>
                        <div id="mod" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form name="ajx" class="cmxform form-horizontal tasi-form">
                                    <div class="form-group ">
                                        <div class="col-lg-10">
                                            <input class=" form-control" name="id" type="text" required="" placeholder="ID"><br />
                                            <button type="button" class="btn btn-info waves-effect waves-light m-r-5" onclick="GetID()">Modifier</button>
                                        </div>
                                    </div>
                                </form>
                                <div id="affichage2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-purple panel-color">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" href="#importExcel" class="collapsed" aria-expanded="false">
                                    <i class="fa fa-download"></i> Import excel
                                </a>
                            </h6>
                        </div>
                        <div id="importExcel" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form method="post" class="cmxform form-horizontal tasi-form" action="~/Excel/AjoutDataOracle">
                                    <div class="form-group ">
                                        <div class="col-lg-12">
                                            <input class="form-control" name="nomFich" type="text" placeholder="D:\\nomfichier.xlsx">
                                            <input class="form-control" name="nomFeuil" type="text" placeholder="nom de la feuille">
                                            <input type="submit" value="Charger" class="btb btn-purple" />
                                        </div>
                                    </div>
                                </form>
                                <div id="affichage1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="panel-title m-t-40">Critères d'ayant droit :</h3>
            <div class="panel panel-default p-0 p-t-15 m-t-15">
                <div class="panel-body p-0">
                    <div class="list-group no-border">
                        <a class="list-group-item no-border"><span class="fa fa-circle text-info pull-right"></span>Agent</a>
                        <a class="list-group-item no-border"><span class="fa fa-circle text-warning pull-right"></span>Conjoint légitime</a>
                        <a class="list-group-item no-border"><span class="fa fa-circle text-purple pull-right"></span>Enfant légitime moins de 25 ans</a>
                        <a class="list-group-item no-border"><span class="fa fa-circle text-pink pull-right"></span>Certificat de scolarité (Enfant)</a>
                        <a class="list-group-item no-border"><span class="fa fa-circle text-success pull-right"></span>Certificat de célibat (Enfant)</a>
                    </div>
                </div>
            </div>
        </div> <!-- col-md-4 col-lg-3 -->
    </div> <!-- row -->