@{
    ViewData["Title"] = "Erreur";
}

<p class="text-danger  glyphicon-text-color"> Medecin introuvable !!</p>
<p>Le nom ou code que vous avez inserer n'esiste pas, veuillez verifier de nouveau votre saisie</p>
