@using WebCMSJIR.Views.Frequentation
@using Oracle.ManagedDataAccess.Client
@{
    ViewData["Title"] = "AfficherTypeSTE";
    var codeSTE = ViewBag.Message;
    FonctionFreq ag = new FonctionFreq();
    OracleDataReader sql = ag.GetType(codeSTE);
    sql.Read();
    
}

    <label>Type :</label>
    <input style="border: 1px solid hotpink" id="typeSte" type="text" name="typeSte" value="@sql.GetOracleValue(0)" class="form-control text-danger" disabled/>
