@using Oracle.ManagedDataAccess.Client
@using WebCMSJIR.Views.Frequentation
@{
    ViewData["Title"] = "AfficherMed";
    var codePrest = ViewBag.Message;
    FonctionFreq med = new FonctionFreq();
    OracleDataReader drMed = med.ListeMed(codePrest);
}

<label>Code médecin :</label>
<select style="border: 1px solid dodgerblue" class="form-control" name="codeMed" onchange="CompteNum(this.value)">
    <option value="#"></option>
    @while (drMed.Read())
    {
        <option value="@drMed.GetOracleValue(0)">@drMed.GetOracleValue(0)</option>
    }
</select>


