@using WebCMSJIR.Views.Frequentation
@using Oracle.ManagedDataAccess.Client
@{
    ViewData["Title"] = "Affiche numero patient";
    var codeMed = ViewBag.Message;
    FonctionFreq n = new FonctionFreq();
    OracleDataReader sql = n.GetNum(codeMed);
    sql.Read();
}


<label style="color:dodgerblue" class="">N° d'entrée :</label>
<input style="border: 1px solid dodgerblue" type="text" name="numero" value="@sql.GetOracleValue(0)" class="form-control text-center" readonly />

