@using Oracle.ManagedDataAccess.Client
@using WebCMSJIR.Views.Frequentation

@{
    ViewData["Title"] = "Index";
    int i = 1;

}

<link rel="stylesheet" type="text/css" href="~/css/montre.css" />
<link rel="stylesheet" type="text/css" href="~/css/topbar.css" />
<link rel="stylesheet" type="text/css" href="~/css/print.min.css">
<!-------------------------------------------------------------------------------------------------------------------------------------->
<body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">
        <table id="datatable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>N. matricule </th>
                    <th>A. matricule</th>
                    <th>Nom agent</th>
                    <th>Nom famille</th>
                    <th>Adresse</th>
                    <th>Sexe</th>
                    <th>S. A. </th>
                    <th>Date de naissance</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                   
                                <td class="uncheck"><button class="btn btn-icon waves-effect waves-light btn-inverse m-b-5" onclick="Famile(1)"><i class="fa fa-check"></i></button></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                        
                </tr>
                
               
                    <tr class="gradeU">
                        <td class="uncheck"><button class="btn btn-icon waves-effect waves-light btn-inverse m-b-5"  onclick="Famile(2)"><i class="fa fa-check"></i></button></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
              
            </tbody>
        </table>
        
  </div>
</body>
<script>
 

    function Famile(nbr) {
        
        const iconbleu = "btn btn-icon waves-effect waves-light btn-info m-b-5";
        const iconnoir = "btn btn-icon waves-effect waves-light btn-inverse m-b-5";
        const icon = `<i class=fa fa-check></i>`

        const check = document.getElementsByTagName['TR'][nbr].cells[0];
        console.log(check);
        
    }


    
  
</script>