body {
}

#shadow {
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    position: relative;
    margin-top: 0;
}

.nav li:hover {
    color: dodgerblue;
}

.content-page {
    margin-top: 60px;
}

#navbartop {
    background-color: dodgerblue;
}